// Main headings
h1 {
  text-align: center;
  font-family: $font-primary;
  font-size: 2em;
  font-weight: 200;
  color: $blue;
}

// Section Headings
h2 {
  text-align: center;
  font-family: $font-primary;
  font-size: 1.3em;
  font-weight: 300;
}

p {
  font-family: $font-secondry;
  font-size: 1em;
}



