body {
  font-size: 80%;
}

// Main headings
h1 {
  text-align: center;
  font-family: $font-primary;
  font-size: 3em;
  font-weight: 200;
  color: $blue;
}

// Section Headings
h2 {
  text-align: center;
  font-family: $font-primary;
  font-size: 2em;
  font-weight: 300;
}

p {
  font-family: $font-secondry;
  font-size: 1.5em;
}

li {
  font-size: 1.5em;
}

label {
  font-size: 1.3em;
}

footer {
  font-size: 1.3em;
}

@media (min-width: $screen-sm-min ) {
  body {
    font-size: 90%; 
  }
}

@media (min-width: $screen-md-min) {
  body {
    font-size: 100%;
  }
}

@media (min-width: $screen-lg-min) {
  body {
    font-size: 100%;
  }
}


.summary-item p {
  text-align: center;
  padding: 0 10%;
}

.alert-header {
  color: $rose;
  font-weight: bold;
}

.alert-section {
  background-color: $yellow;
}

.no-link-color {
  color: inherit;
}
